@using PagedList
@using PagedList.Mvc
@using DrugsShop.Models
@model IPagedList<Product>
@{
    Layout = "~/Views/Shared/_Head.cshtml";
}

@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <link href="@Url.Content("~/Content/Site.css")"rel="stylesheet" type="text/css" />
     
        <p class="d1">
            <input type="text" placeholder="Искать здесь...">
            <button type="submit"></button>
        </p>
        @*Find by name: @Html.TextBox("SearchString", ViewBag.SearchString as string)
        <input type="submit" value="Search" />*@
    
}

<div>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    
<table >
    <tr>
        <th id="navbar">
            @Html.ActionLink("Product name", "Index", new { searchString = ViewBag.SearchString, sortParam = ViewBag.NameSortParam, onlyWithoutRecipe = ViewBag.OnlyWithoutRecipe })
        </th>
        <th id="navbar">
            @Html.ActionLink("Cost", "Index", new { searchString = ViewBag.SearchString, sortParam = (ViewBag.CostSortParam ?? "cost"), onlyWithoutRecipe = ViewBag.OnlyWithoutRecipe })
        </th>
        <th id="navbar">
            By recipe
        </th>
        <th id="navbar">
            Amount
        </th>
        <th id="navbar">
            @Html.ActionLink("Все медикоменты", "Index", new { searchString = ViewBag.SearchString, sortParam = ViewBag.NameSortParam, onlyWithoutRecipe = false })
        </th>
        <th id="navbar">
            @Html.ActionLink("Только без рецепта", "Index", new { searchString = ViewBag.SearchString, sortParam = ViewBag.NameSortParam, onlyWithoutRecipe = true })
        </th>
        
    </tr>
    @foreach (Product product in Model)
    {
        
        <tr>
            <td>
                <p class="letter">@product.Name</p>
            </td>
            <td>
                @product.Cost
            </td>
            <td>
                @{
                    string recipe = "без рецепта";
                    if (product.ByRecipe) { recipe = "по рецепту"; };
                }
                @recipe
            </td>
            <td>
                 <button class="btn btn-danger btn-link" value="@product.Id" onload="updateCart(@product.Id)">Заказать</button> 
                <input type="text" id="@product.Id" value="0" onload="updateCart(@product.Id)" />
                </td>
        </tr>
    }
</table>
    </div>

<script>
    function clickAdd(id) {
        var textbox = document.getElementById(id);
        textbox.value = +textbox.value + +1;
        localStorage.setItem(id, textbox.value);
    }
</script>
<script>
    function updateCart(id)
    {
        var textbox = document.getElementById(id);
        var amount = localStorage.getItem(id);
        if (amount == null)
            textbox.value = 0;
        else
            textbox.value = amount;
    }
</script>

@*<div class="d3">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>*@

<center>@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, searchString = ViewBag.SearchString, sortParam = ViewBag.CurrentSort, onlyWithoutRecipe = ViewBag.OnlyWithoutRecipe }))</center>


    