@using PagedList
@using PagedList.Mvc
@using DrugsShop.Models
@model IPagedList<Product>

@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <link href="@Url.Content("~/Content/Site.css")"rel="stylesheet" type="text/css" />
     
        <p class="d1">
            <input type="text" placeholder="Искать здесь...">
            <button type="submit"></button>
        </p>
        @*Find by name: @Html.TextBox("SearchString", ViewBag.SearchString as string)
        <input type="submit" value="Search" />*@
    
}

<div>
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    
<table >
    <tr>
        <th id="navbar">
            @Html.ActionLink("Product name", "Index", new { searchString = ViewBag.SearchString, sortParam = ViewBag.NameSortParam, onlyWithoutRecipe = ViewBag.OnlyWithoutRecipe })
        </th>
        <th id="navbar">
            @Html.ActionLink("Cost", "Index", new { searchString = ViewBag.SearchString, sortParam = (ViewBag.CostSortParam ?? "cost"), onlyWithoutRecipe = ViewBag.OnlyWithoutRecipe })
        </th>
        <th id="navbar">
            By recipe
        </th>
        <th id="navbar">
            Amount
        </th>
        <th id="navbar">
            @Html.ActionLink("Все медикоменты", "Index", new { searchString = ViewBag.SearchString, sortParam = ViewBag.NameSortParam, onlyWithoutRecipe = false })
        </th>
        <th id="navbar">
            @Html.ActionLink("Только без рецепта", "Index", new { searchString = ViewBag.SearchString, sortParam = ViewBag.NameSortParam, onlyWithoutRecipe = true })
        </th>
        
    </tr>
    @foreach (Product product in Model)
    {
        
        <tr id="products">
            <td>
                <p class="letter">@product.Name</p>
            </td>
            <td>
                @product.Cost
            </td>
            <td>
                @{
                    string recipe = "без рецепта";
                    if (product.ByRecipe) { recipe = "по рецепту"; };
                }
                @recipe
            </td>
            <td>
                 <button class="btn btn-danger btn-link" value="@product.Id" onclick="clickAdd(@product.Id)">Заказать</button> 
            </td>
            <td >
                <input type="text" class="count" id="@product.Id" value="" />
            </td>
        </tr>
    }
</table>
    </div>

@using (Html.BeginForm("CalculateCart", "Cart", FormMethod.Post, new { @id = "calculateCartForm" }))
{
    <input type="hidden" value="@ViewBag.BookId" name="BookId" />
        <p><input type="submit" value="Заказать" /></p>
}
</div>

<script>
    document.getElementById('calculateCartForm').onsubmit = function(){
        var products = getProductsPrimitive();

        var inputIds = document.createElement('input');
        inputIds.type = 'hidden';
        inputIds.name = 'ids';
        inputIds.value = products.ids;
        this.appendChild(inputIds);

        var inputAmounts = document.createElement('input');
        inputAmounts.type = 'hidden';
        inputAmounts.name = 'amounts';
        inputAmounts.value = products.amounts;
        this.appendChild(inputAmounts);

    };
</script>

@*<div class="d3">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>*@

<center>@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, searchString = ViewBag.SearchString, sortParam = ViewBag.CurrentSort, onlyWithoutRecipe = ViewBag.OnlyWithoutRecipe }))</center>



